In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv('Processed.csv')

df.sample(n=5)

,Age,Gender,Year In School,Major,Monthly Income,Financial Aid,Tuition,Housing,Food,Transportation,Books & Supplies,Entertainment,Personal Care,Technology,Health & Wellness,Miscellaneous,Preferred Payment Method
262,24,Male,Junior,Computer Science,744,666,4930,853,134,115,197,107,73,256,117,34,Mobile Payment App
999,24,Non-binary,Sophomore,Computer Science,541,640,5965,609,270,191,215,139,43,281,88,145,Cash
187,23,Male,Sophomore,Economics,1020,17,4645,943,305,156,240,123,53,290,77,63,Cash
390,22,Male,Senior,Economics,716,157,4056,789,358,186,216,78,74,175,169,109,Cash
664,22,Non-binary,Sophomore,Computer Science,1092,574,3997,731,187,93,151,63,55,96,169,118,Credit/Debit Card

## Áp dụng các mô hình học máy cơ bản

**Mục tiêu: so sánh 2 mô hình `Linear Regression` và `Decision Tree` thông qua việc dự đoán ngành học của sinh viên thông qua các chi tiêu của họ với các danh mục**

### Chuẩn bị dữ liệu

In [3]:
X = df[['Financial Aid', 'Housing', 'Food', 'Transportation', 'Books & Supplies',
                 'Entertainment', 'Personal Care', 'Technology', 'Health & Wellness', 'Miscellaneous']]
y = df[['Major']]

encoder = LabelEncoder()
y = encoder.fit_transform(y)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

C:\Users\PC\AppData\Local\anaconda3\envs\min_ds-env\lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### Huấn luyện mô hình và dự đoán

In [4]:
# Linear Regression Model
model_LR = LinearRegression()
model_LR.fit(X_train, y_train)

y_pred_LR = model_LR.predict(X_test)

# Decision Tree Model
model_DT = DecisionTreeRegressor()
model_DT.fit(X_train, y_train)

y_pred_DT = model_DT.predict(X_test)

### Đánh giá hiệu suất

In [8]:
mse_LR = mean_squared_error(y_test, y_pred_LR)

mse_DT = mean_squared_error(y_test, y_pred_DT)

print("Mean Squared Error - Linear Regression:", mse_LR)

print("Mean Squared Error - Decision Tree:", mse_DT)

Mean Squared Error - Linear Regression: 1.853483865069211
Mean Squared Error - Decision Tree: 3.795

**Dựa vào metric Mean Squared Error, mô hình `Decision Tree` có `MSE` cao hơn `Linear Regression` nên ta kết luận với dữ liệu này, mô hình `Linear Regression` có hiệu suất cao hơn `Decision Tree`**